@font-face {
  font-family: 'pixelatedelegance';
  src: url("https://files.catbox.moe/xmx4nj.ttf");
}

@font-face {
  font-family: 'littlespirit';
  src: url("https://dl.dropbox.com/scl/fi/2b6f6bt9tf4ks82wgf689/LittleSpirit.ttf?rlkey=yjq2qq88zcrjn2cy1tii3cuzm&st=brgsv55m&dl=0");
}

@font-face {
  font-family: 'romanceA';
  src: url("https://file.garden/akgob9Kl3FKsBuly/RomanceA.ttf");
}
:root {
  --main-fg-color: #f7e9f0;
  --main-fg-color-light: #fdf2f8;
  --main-bg-color: #fffdfe;
  --text-color: #8d7c76;
  --shadow-color: #a39795;
  --advanced-layout: true;
}

body {
    font-family: "pixelatedelegance", cursive;
    color: #8d7c76 !important;
}

::selection {
  background: var(--main-fg-color) !important;
}

#background, #settingsMenu {
    background: url("https://file.garden/akgob9Kl3FKsBuly/sony%20cybershot/0885.gif");
    background-repeat: repeat;
}

#background, #settingsMenu {
   scrollbar-color: #e0bfcc transparent;
   overflow: scroll;
}

a  {
  color: #a1878f;
  font-family: 'pixelatedelegance', cursive;
  text-decoration: none;
  border-bottom: 1px dotted #a1878f;
}

#top_banner {
    font-family: "romanceA";
    font-weight: lighter !important;
    letter-spacing: 1px;
    background: linear-gradient(0deg, var(--main-fg-color) 0%, var(--main-fg-color-light) 50%, var(--main-fg-color) 100%);
    width: calc(100% - 2px);
    border: 1.3px dashed #a1878f;
    box-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 1px #FFF, 0 3px 4px var(--shadow-color);
    position: relative;
    z-index: 4;
    color: #8d7c76;
}

.allMessages {
    background-color: #f7e9f0;
    box-shadow: 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 3px 4px var(--shadow-color);
    border: 1.3px dashed #a1878f;
    border-radius: 8px;
    margin: 0 20px 0 20px;
    position: relative;
}
.allMessages:before {
  content: " ";
  height: calc(100% - 20px);
  width: 50px;
  max-height: 50px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  z-index: 1;
}
.allMessages.sent:before {
  left: 5px;
}
.allMessages.recieved:before {
  right: 5px;
}
.sent {
  padding-left: 25px;
}
.recieved {
  padding-right: 25px;
}
.allMessages.containsOnlyEmojis .emoji {
    height: 50px;
}
.msgWrapper:has(.pm) {
    padding-top: 20px;
}
.allMessages.pm {
    border-color: #e0bfcc;
}
.allMessages.pm:after {
    content: "Private Message";
    font-family: 'pixelatedelegance';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3cad4;
    color: #fff;
    height: 16px;
    padding: 5px;
    position: absolute;
    right: 5vw;
    bottom: 100%;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}
.msgWrapper + .msgWrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}
.senderInfo {
  display: block;
  text-align: left;
  font-family: 'pixelatedelegance';
  font-size: 9px;
  letter-spacing: 0.3px;
}
.sent > .senderInfo {
  text-align: right;
}
.sent > .msgBody {
  text-align: right;
}
.msgBody, .senderInfo {
  position: relative;
  z-index: 2;
}

.senderInfo:has(.owner) {
  color: #6e6469;
}
.senderInfo:has(.mod) {
  color: #a1878f;
}

#timestamp {
    font-family: 'pixelatedelegance';
    font-size: 7pt;
    color: #a1878f;
    margin-top: 10px !important;
    padding-left: 25px;
}
#input, #nameEntry {
    background-color: #fffdfe;
    border-radius: 4px;
    border-top: 1.3px dashed #a1878f;
    font-family: "pixelatedelegance", cursive;
}
#name {
    background-color: #fffdfe;
    border-radius: 4px;
    border: 1.3px dashed #a1878f;
    padding: 2px;
    font-family: "pixelatedelegance", cursive;
    outline: none;
    color: #8d7c76;
}

#settings:hover {
    filter: drop-shadow(0 0 3px #f7e9f0) drop-shadow(0 0 3px #f7e9f0) drop-shadow(0 0 3px #f7e9f0);
    transform: rotate(180deg);
}
#settings {
    filter: drop-shadow(0 0 1px #f7e9f0) drop-shadow(0 0 1px #f7e9f0) drop-shadow(0 0 1px #f7e9f0);
    transition: all 250ms linear;
}
#emojiTrayToggle {
    height: 15px;
    width: 15px;
    padding: 6px;
    margin-top: 3px;
    margin-left: 3px;
    background-image: url(/media/pixel-emoji.webp) !important;
    opacity: 0.5;
}
#is_typing {
    filter: drop-shadow(0 0 1px #f7e9f0) drop-shadow(0 0 1px #f7e9f0) drop-shadow(0 0 1px #f7e9f0);
    background-color: #fffdfe;
    border: 1.3px dashed #a1878f;
    border-radius: 4px;
    left: unset;
    right: 10px;
    bottom: 27px;
    overflow: visible;
}
#is_typing:hover::after {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    content: "someone is typing";
    font-family: 'pixelatedelegance';
    font-size: 9pt;
    position: fixed;
    right: 35px;
    bottom: 0;
    width: 60vw;
    color: #8d7c76;
    z-index: 100000;
}
#is_typing > span {
    background-color: #a1878f;
    border-radius: 50%;
    height: 2px;
    width: 2px;
}

#closeSettingsBtn {
  background: #a1878f;
  color: #FFF;
  font-family: 'pixelatedelegance';
  border: none;
  border-radius: 3px;
}

#save {
  border: 1.3px dashed #a1878f;
  border-radius: 3px;
  background: #fffdfe;
  color: #8d7c76;
  font-family: 'pixelatedelegance';
}
